body{
    background-color: aqua;
}

.my-element {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce; 
    animation-duration: 2s; 
  }

  .animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }

  :root {
    --animate-delay: 2s;
  }
  
  :root {
    --animate-delay: 0.5s;
  }

  .imagen
  {
    width: 40px;
    height: 200px;
    margin-left: 2.5em;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
  }